:root {
	--modal-duration: .5s;
}
.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}
.modal-wrap {
	width: 350px;
	background: #fff;
	margin: 10% auto;
	text-align: center;
	border-radius: .5em;
	padding: 0 0 1.5rem 0;
	overflow: hidden;
}
.modal-content {
	animation: modalOpen var(--modal-duration);
}
.modal-content h1 {
	margin-bottom: 1rem;
	padding: .5rem;
	color: #fff;
}
.modal-content h1 > span {
	font-size: 2rem;
	float: right;
}
.modal-content p {
	font-size: 1rem;
	margin-top: 1rem;
}
.modal-choice {
	position: relative;
	padding: 1rem;	
}
.vs {
	font-size: 1.2rem;
}
.close {
	display: inline-block;
	margin-top: 1.5rem;
	padding: .7rem 4rem;
	border-radius: 5px;
}
/*Animations*/
@keyframes modalOpen {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media (max-width: 600px) {
	.modal-wrap {
		width: 100%;
		height: 100%;
		background: #fff;
		margin: auto;
		text-align: center;
		border-radius: 0;
		padding: 0 0 1.5rem 0;
		overflow: hidden;
	}
	.modal-content {
		width: 300px;
		margin: 0 auto;
		margin-top: 48%;
		animation: modalOpen var(--modal-duration);
	}
	.modal-content h1 {
		border-radius: 50px;
	}
}